/* drie basisstijlregels om je te helpen */
:root {
  font-size: 100%; /* zet je dit op 62.5%, dan is elke rem 10px waard, anders 16px */
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* hier komt jouw css */

ul {
    border-bottom: 1px solid black;
}
li {
  display: inline-block;
  width: 33.33vw;
  text-align: center;
  padding: 2rem;
  font-weight: bold;
  font-size: 300;
  border: 1px solid black;
  background-color: beige;
}
